{
  "env": {
      "browser": true,
      "es2021": true
  },
  "extends": [
      "airbnb",
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "overrides": [
  ],
  "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module"
  },
  "plugins": [
      "react"
  ],
  "rules": {
      "semi": ["error", "always"],
      "quotes": ["warn", "single"],
      "linebreak-style": 0,
      "curly": ["error", "multi"],
      "no-underscore-dangle": "off",
      "no-unused-vars": "warn",
      "no-process-exit": "off",
      "no-param-reassign": "off",
      "no-console": "off",
      "func-names": "off",
      "no-use-before-define": "off",
      "react/react-in-jsx-scope": "off",
      "react/prop-types": "off",
      "import/prefer-default-export": "off"
  },
  "ignorePatterns": ["/assets", "*.svg", "*.json"]
}
